<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagen usando Sovel</title>
</head>
<body>
    <h1>Imagen usando Sovel</h1>

    <h2>Rotación</h2>
    <img src="/static/rotated_image.jpg" alt="Rotated Image">

    <h2>Traslación</h2>
    <img src="/static/translated_image.jpg" alt="Translated Image">

    <h2>Escalamiento</h2>
    <img src="/static/scaled_image.jpg" alt="Scaled Image">

    <h2>Sisayado</h2>
    <img src="/static/sheared_image.jpg" alt="Sheared Image">
    
</body>
</html>
